{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

{#<article{{ attributes }}>#}
  {#{% for item in product %}#}
      {#{% if item==product.field_description %}#}
          {#{{ item }}#}
      {#{% endif %}#}
  {#{% endfor %}#}

  {#{{- product|without('variation_attributes') -}}#}

{#</article>#}


<article {{ attributes }}>

  <div class="image-wrapper left-col">
      {{ product.field_image }}
  </div>

  <div class="description-wrapper right-col">
      {{ product.title }}
      {{ product.field_description }}
      {{ product.field_more_information }}

      <div class="amenities">
            {{ product.field_amenities }}
      </div>

      <div class="room-conf">
          {{ product.field_square }}
          {{ product.field_queen_bed }}
          {{ product.field_sofa_bed }}
          {{ product.field_bathroom }}
          {{ product.field_outside_view }}
          {{ product.field_smoking }}
      </div>
      {{ product.variations }}
      {{ product.field_price }}
  </div>

</article>

<article {{ attributes }} class="product-hidden">

    <div class="image-wrapper left-col">
        <!-- The Modal -->
        <div class="myModal">
            <img class="modal-content"/>
        </div>
        {{ product.field_image }}
    </div>

    <div class="description-wrapper right-col">
        <fieldset class="description-fieldset">
            <legend>DESCRIPTION</legend>
            <div class="room-conf">
                {{ product.field_square }}
                {{ product.field_queen_bed }}
                {{ product.field_sofa_bed }}
                {{ product.field_bathroom }}
                {{ product.field_outside_view }}
                {{ product.field_smoking }}
            </div>
            {{ product.title }}
            {{ product.field_description }}
            {{ product.field_more_information }}
        </fieldset>

        <fieldset class="amenities-fieldset">
            <legend>AMENITIES</legend>
            <div class="amenities">
                {{ product.field_amenities }}
            </div>
        </fieldset>
    </div>

</article>