{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
  {# Two fields: variations and price #}
  {%  set variations_and_price_fields = product|without('title',
                      'variation_attributes',
                      'field_description',
                      'field_image',
                      'field_more_information',
                      'field_amenities',
                      'field_square',
                      'field_queen_bed',
                      'field_sofa_bed',
                      'field_bathroom',
                      'field_outside_view',
                      'field_smoking',
                      'field_amenities',
                      'field_book_dates'
  )%}

<article {{ attributes }}>
    <div class="product-item">
      <div class="image-wrapper left-col">
          {{ product.field_image }}
      </div>

      <div class="description-wrapper right-col">
          {{ product.title }}

          {# Trim product.field_description text #}
          {% set text = product.field_description|render|striptags|trim %}
          {{ (text|length > 200 ? text|slice(0, 201)|split(' ')|slice(0, -1)|join(' ') ~ '…' : text)|raw }}

          {{ product.field_more_information }}

          <div class="amenities">
              {{ product.field_amenities }}
          </div>

          <div class="room-conf">
              {{ product.field_square }}
              {{ product.field_queen_bed }}
              {{ product.field_sofa_bed }}
              {{ product.field_bathroom }}
              {{ product.field_outside_view }}
              {{ product.field_smoking }}
          </div>
      </div>
      <div class="variations-custom">
          <div class="variations-custom-wrap">
              {{ variations_and_price_fields }}
          </div>
      </div>

        {#This div.product-hidden is copy of higher article.product-item and was created only for better layout#}
        <div {{ attributes }} class="product-hidden">
            <h1>{{ product.title }}</h1>
            <div class="image-wrapper left-col">
                <!-- The Modal -->
                <div class="myModal">
                    <img class="modal-content"/>
                </div>
                {{ product.field_image }}
            </div>

            <div class="description-wrapper right-col">
                <fieldset class="description-fieldset">
                    <legend>{{ product.field_description['#title'] }}</legend>
                    <div class="room-conf">
                        {{ product.field_square }}
                        {{ product.field_queen_bed }}
                        {{ product.field_sofa_bed }}
                        {{ product.field_bathroom }}
                        {{ product.field_outside_view }}
                        {{ product.field_smoking }}
                    </div>
                    {{ product.field_description }}
                    {{ product.field_more_information }}
                </fieldset>

                <fieldset class="amenities-fieldset">
                    <legend>{{ product.field_amenities['#title'] }}</legend>
                    <div class="amenities">
                        {{ product.field_amenities }}
                        {{ product.field_amenities.field__label }}
                    </div>
                </fieldset>
            </div>

        </div>
    </div>
</article>

